@model List<HealthInsuranceV3.Entities.InsuranceCompany>
<div id="page-wrapper">
    <div class="main-page">
        <h4>List Insurance Companies</h4>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Established Year</th>
                    <th scope="col">Contact Info</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var company in Model)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@company.CompanyName</td>
                        <td>@company.EstablishedYear</td>
                        <td>@company.ContactInfo</td>
                        <td>@company.Address</td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <a asp-action="Edit" asp-controller="InsuranceCompany" asp-route-id="@company.CompanyId" class="text-white">Edit</a>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <a class="text-white" asp-action="Delete" asp-controller="InsuranceCompany" asp-route-id="@company.CompanyId">Delete</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>