@model List<HealthInsuranceV3.Entities.InsurancePackage>

<div id="page-wrapper">
    <div class="main-page">
        <h4>List Insurance Packages</h4>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Package Name</th>
                    <th scope="col">Coverage Details</th>
                    <th scope="col">Policy Term (Days)</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.PackageName</td>
                        <td>@item.CoverageDetails</td>
                        <td>@item.PolicyTermInDay</td>
                        <td>@item.Price</td>
                        <td>
                            <a asp-action="Edit" asp-controller="InsurancePackage" asp-route-Id="@item.PackageId">Edit</a> |
                            <a asp-action="Delete" asp-controller="InsurancePackage" asp-route-Id="@item.PackageId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>