@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Insurance</title>
	<!-- Favicon -->
	<link href="~/favicon.ico" rel="icon">
	@* <link href="../wwwroot/favicon.ico" rel="icon"> *@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/HealthInsuranceV3.styles.css" asp-append-version="true" />
	<!-- Loading third party fonts -->
	@* 	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css"> *@
	<link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="~/fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">
	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
	<!-- Loading main css file -->
	<link rel="stylesheet" href="~/css/style.css"><!-- Libraries Stylesheet -->
	<link href="~/lib/animate/animate.min.css" rel="stylesheet">
	<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="~/css/style.css" rel="stylesheet">
	<style>
		.hero-slider .slide-content {
			border-radius: 20px;
		}
	</style>

</head>


<body>
	@* <p>User - ID: @ViewData["UserID"]</p>
	<p>User - Name: @ViewData["UserName"]</p> *@
	<div id="site-content">
		<div class="hero hero-slider">
			<ul class="slides">
				<li data-bg-image="dummy/slide-3.png">
					<div class="container">
						<div class="slide-content">
							<h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
							<p>Welcome to our Health Insurance hub, where your well-being is our priority. We specialize in providing comprehensive health coverage tailored for employees across diverse industries.</p>
							<a href="@Url.Action("Index", "ListInsurance", new { area = "User" })" class="button">Get a quote</a>
						</div>
					</div>
				</li>
				<li data-bg-image="dummy/slide-2.png">
					<div class="container">
						<div class="slide-content">
							<h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
							<p>Through our user-friendly website, employees can seamlessly access and explore all details of the health insurance plans their companies have chosen for them. Empowering individuals with knowledge, we strive to ensure that health-related decisions are clear and informed.</p>
							<a href="@Url.Action("Index", "ListInsurance", new { area = "User" })" class="button">Get a quote</a>
						</div>
					</div>
				</li>
				<li data-bg-image="dummy/slide-1.png">
					<div class="container">
						<div class="slide-content">
							<h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
							<p>Your health matters and we're here to simplify the path to understanding and maximizing your benefits. Because a healthier you means a happier workplace.</p>
							<a href="@Url.Action("Index", "ListInsurance", new { area = "User" })" class="button">Get a quote</a>
						</div>
					</div>
				</li>
			</ul>
		</div> <!-- .hero-slider -->

		<main class="main-content">
			<div class="fullwidth-block greet-section">
				<div class="container">
					<h2 class="section-title">Welcome to our website</h2>
					<small class="section-subtitle">This website is for lazy bosses and greedy staff who don’t want to work.</small>

					<div class="row">
						<div class="col-md-4">
							<div class="feature">
								<i class="icon-phone-24"></i>
								<h3 class="feature-title">24 hours Service</h3>
								<p>24-hour service, but everyone needs to sleep, so don’t call us after 10pm.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature">
								<i class="icon-hotel"></i>
								<h3 class="feature-title">Hospitality</h3>
								<p>Don't expect us to bring you tea and cookies like your grandma :)</p>
							</div>
						</div>
@* 						<div class="col-md-3">
							<div class="feature">
								<i class="icon-luggage"></i>
								<h3 class="feature-title">Praesent pellentesque </h3>
								<p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</p>
							</div>
						</div> *@
						<div class="col-md-4">
							<div class="feature">
								<i class="icon-credit-card-hand"></i>
								<h3 class="feature-title">Easy Payment</h3>
								<p>Have you seen our payment page? Of course not, because we don’t have it here.</p>
							</div>
						</div>
					</div> <!-- .row -->

					@* <div class="text-center">
						<p>Sollicitudin sit tortor pellentesque. <a href="#">Read more</a></p>
					</div> *@
				</div> <!-- .container -->
			</div> <!-- .fullwidth-block -->

			<div class="fullwidth-block" data-bg-color="#f1f1f1">
				<div class="container">
					<h2 class="section-title">WHAT DOES OUR INSURANCE COVER? </h2>
					<small class="section-subtitle">Whatever other companies have, we have it too and twice as good.</small>

					<div class="row">
						<div class="col-md-3">
							<div class="offer caption-top">
								<img src="dummy/Accident.png" alt="offer 1" style="height: 625px; width: 300px">
								<div class="caption">
									<h3 class="offer-title" style="color: white">Accident  Insurance</h3>
									<small>Drive like a boss</small>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-4">
									<div class="offer caption-bottom">
										<img src="dummy/Mental Health Care.png" alt="offer 2" style="height: 300px; width: 300px">
										<div class="caption">
											<h3 class="offer-title" style="color: white">Mental Health Care</h3>
											<small>No more Joker on streets</small>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="offer caption-bottom">
										<img src="dummy/Life.png" alt="offer 3" style="height: 300px; width: 630px">
										<div class="caption">
											<h3 class="offer-title" style="color: white">Life Insurance</h3>
											<small>Don't die too soon ok ?</small>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="offer caption-bottom">
										<img src="dummy/Optical.png" alt="offer 2" style="height: 300px; width: 300px">
										<div class="caption">
											<h3 class="offer-title" style="color: white">Optical Insurance</h3>
											<small>What are you looking at ?</small>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="offer caption-bottom">
										<img src="dummy/Education.png" alt="offer 2" style="height: 300px; width: 300px">
										<div class="caption">
											<h3 class="offer-title" style="color: white">Education Insurance</h3>
											<small>No more homeworks and stuff like that!</small>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="offer caption-bottom">
										<img src="dummy/TreatmentTherapies.png" alt="offer 2" style="height: 300px; width: 300px">
										<div class="caption">
											<h3 class="offer-title" style="color: white">Treatment and Therapies</h3>
											<small>Have a neck and back pain? This is for you</small>
										</div>
									</div>
								</div>
							</div> <!-- .row -->
						</div> <!-- .col-md-8 -->
					</div> <!-- .row -->

				</div> <!-- .container -->
			</div> <!-- .offer-section -->

			<div class="fullwidth-block">
				<div class="container">
					<h2 class="section-title">Latest news</h2>
					<div class="row news-list">
						<div class="col-md-4">
							<div class="news">
								<figure><img src="dummy/News1.png" alt="" style="height: 275px; width: 410px"></figure>
								<div class="date"><img src="images/icon-calendar.png" alt="">26/11/2023</div>
								<h2 class="entry-title"><a href="#">APCIA announces priority advocacies for 2024</a></h2>
							</div>
						</div>
						<div class="col-md-4">
							<div class="news">
								<figure><img src="dummy/News2.png" alt="" style="height: 275px; width: 410px"></figure>
								<div class="date"><img src="images/icon-calendar.png" alt="">06/12/2023</div>
								<h2 class="entry-title"><a href="#">McKinsey agrees to pay $78 million to reimburse insurers, among others</a></h2>
							</div>
						</div>
						<div class="col-md-4">
							<div class="news">
								<figure><img src="dummy/News3.png" alt="" style="height: 275px; width: 410px"></figure>
								<div class="date"><img src="images/icon-calendar.png" alt="">03/01/2024</div>
								<h2 class="entry-title"><a href="#">Ozempic to Zepbound – Health insurance grapples with weight loss drugs cost</a></h2>
							</div>
						</div>
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- .latest-news-section -->

			<div class="fullwidth-block" data-bg-color="#0f75bd">
				<div class="container">
					<div class="testimonial-slider">
						<ul class="slides">
							<li>
								<blockquote>Health insurance is a shield against life's uncertainties, a guardian that ensures your well-being in times of need. It's not just a policy; it's a commitment to your health, an investment in a secure and worry-free future.<cite>Ashwyn Anu George</cite></blockquote>
							</li>
							<li>
								<blockquote>In the journey of life, health insurance is the compass that guides you through unforeseen storms. It's the safety net, offering solace in sickness and comfort in crisis. Embrace it not as an expense, but as an assurance for a healthier tomorrow.<cite>Charles Baxter</cite></blockquote>
							</li>
							<li>
								<blockquote>The importance of health insurance cannot be overstated. It's a pact with your future self, a promise to safeguard your most valuable asset – your health. It transforms uncertainties into certainties, providing peace of mind that, in times of illness, you won't be alone on your path to recovery.<cite>Myles Munroe</cite></blockquote>
							</li>
						</ul>
					</div>
				</div> <!-- .container -->
			</div> <!-- .fullwidth-block -->

			@* <div class="container">
				<h2 class="section-title">Our partners</h2>

				<div class="partners">
					<a href="#"><img src="dummy/money-logo.png" alt=""></a>
					<a href="#"><img src="dummy/nyt-logo.png" alt=""></a>
					<a href="#"><img src="dummy/forbes-logo.png" alt=""></a>
					<a href="#"><img src="dummy/wsj-logo.png" alt=""></a>
					<a href="#"><img src="dummy/bbs-logo.png" alt=""></a>
				</div> <!-- .partners -->
			</div> <!-- .container --> *@
		</main>
	</div> <!-- .fullwidth-block -->



@* 	<script src="js/jquery-1.11.1.min.js"></script> *@
	<script src="~/js/jquery-1.11.1.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
	@* <script src="js/plugins.js"></script> *@
	<script src="~/js/plugins.js"></script>
	@* <script src="js/app.js"></script> *@
	<script src="~/js/app.js"></script>

</body>

</html>
